<div class="headerStyles">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IBTE</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="../../pages/home/HomePage.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="../../pages/about/AboutPage.html"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="../../pages/subscribe/SubscribePage.html"
              >Subscripe</a
            >
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://ibte.me/"
              target="_blank"
              >Official WebSite</a
            >
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
